@page "/testing"

@rendermode RenderMode.InteractiveAuto

<PageTitle>Testing</PageTitle>

<h1 class="h1 text-center m-5">Testing</h1>

<p>this is some paragraph form Test Component</p>

<p>@myNum</p>

<button type="button" @onclick="ClickHandler">click me</button>



<TestModularComp />